<!DOCTYPE html>
<html>
<head>
  <title>Emprunt de mat&eacute;riel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= content_tag :p, notice, :class => 'notice' if notice.present? %>
<%= content_tag :p, alert, :class => 'alert' if alert.present? %>

<!--
<header>
	<h1> Emprunts de mat&eacute;riel | Polytech Nice-Sophia </h1>
</header>
-->


<% if logged_in? %>
	
	<section id="left_column" class="wrapper">
		<section id="top_content">
			<header> Menu </header>
			<nav>
				<%= link_to 'Gérer les demandes', root_path %>
				<%= link_to 'Faire une demande', root_path %>
				<%= link_to 'Etat du stock', root_path %>
				<%= link_to 'Matériel', root_path %>
			</nav>
		</section>

		<aside id="bottom_content">
			<header> iPad Air </header>
			<p>Batterie au lithium-polymère rechargeable intégrée de 32,4 Wh
			Jusqu’à 10 heures d’autonomie pour naviguer sur Internet en WiFi, regarder des vidéos ou écouter de la musique
			Jusqu’à 9 heures d’autonomie pour naviguer sur Internet via un réseau de données cellulaires
			Recharge via l’adaptateur secteur ou le port USB d’un ordinateur</p>
		</aside>
		
		<div id="user_actions">
			<%= link_to "Logout", logout_path %>
		</div>
	</section>
<% end %>

<section id="main_content" class="wrapper">
	<header> Main Content </header>
	<%= yield %>
</section>

</body>
</html>
