<!DOCTYPE html>
<html>
<head>
  <title>Emprunt de mat&eacute;riel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= content_tag :p, notice, :class => 'notice' if notice.present? %>
<%= content_tag :p, alert, :class => 'alert' if alert.present? %>

<header>
	<h1> Emprunts de mat&eacute;riel | Polytech Nice-Sophia </h1>
	<% if logged_in? %>	
		<nav>
			<%= link_to 'Gérer les demandes', root_path %> |
			<%= link_to 'Faire une demande', new_request_path %> |
			<%= link_to 'Etat du stock', root_path %> |
			<%= link_to 'Matériel', root_path %> |
			<div id="user_actions">
				<%= link_to "Logout", logout_path %>
			</div>
		</nav>
	<% end %>
</header>

<section id="main_content" class="wrapper">
	<%= yield %>
</section>

</body>
</html>
